.main-nav li ul{
	filter:
	progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=3)
	progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=3)
	progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=3)
	progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=315, Strength=3);
	top:32px;
	left:0;
	zoom:1;
	padding:6px 12px 6px 6px;
}
*+html .main-nav li ul{padding:0;}
*+html .contacts{
	float:right;
	margin:56px 0 0 -242px;
	clear:both;
}
.image a:hover img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); }